<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
    <rosparam file="$(find teleop)/params/teleop.yaml" command="load"/>

    <node pkg="joy" type="joy_node" name="joy" respawn="true" output="screen">
        <param name="dev" type="string" value="/dev/input/js0"/>
        <param name="deadzone" value="0.12"/>
    </node>

    <node pkg="joy_teleop" type="joy_teleop.py" name="teleop" respawn="true" output="screen"/>

</launch>
